.FileList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.uploadPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
