$background: black;

$text-colour-light: white;
$text-colour-dark: black;

$element-bg-dark: rgb(68, 68, 68);
$element-bg-light: rgb(136, 135, 135);

$element-action-dark: darkblue;

$brand-colour-dark: darkblue;
$brand-colour-light: blue;
